html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #323639;
  height: 100vh;
  max-width: 950px;
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#brico-main-logo .img-fluid {
  max-width: 70% !important;
  margin: auto;
  display: block;
  width: 70%;
}

#brico-image {
  width: 100vw;
  /* overflow: hidden; */
}

#brico-image img {
  width: 100%;
  height: auto;
}


header {
  background-color: #323639;
}

.navbar {
  margin-top: 2vh;
  padding-bottom: 5vh;
  background-color: #323639;
  padding-top: 12px;
  padding-bottom: 30px;
}

.nav-link {
  color: #E4D1A6;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 0.85em;
  }

  .button {
    font-size: 1em;
  }

}

@media (min-width: 768px) {
  .nav-link {
    font-size: 1.5em;
  }
}

.container-md {
  max-width: 950px !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #3e4245;
  color: #E4D1A6;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#myBtn:hover {
  background-color: #323639;
}

hr {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 100%;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  width: 100%;
}

main {
  background-color: #E4D1A6;
  border-radius: 10px;
  padding-top: 5vh;
}

.reservation {
  margin-bottom: 7vh;
  border-radius: 10px;
}

.reservation a:hover {
  color: #ffd268;
}

.reservation-button {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  text-align: center;
  overflow: hidden;
  width: max-content;
  border-radius: 10px;
}

.button {
  background-color: #323639;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border: 2px solid #323639;
  color: #f1d89c;
  font-family: 'Monserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  margin: 20px auto;
  transition: color 0.4s;
  border-radius: 10px;
}

.about p {
  text-align: justify;
  margin-top: 5vh;
  font-family: 'Inter', sans-serif;
}

#more-button {
  background-color: #323639;
  font-size: 1.5vh;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

section.about {
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

article.services {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

article.services article {
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

/* section.services h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
} */

article.services h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

article.services p {
  font-family: 'Inter', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #323639;
  color: #E4D1A6;
  text-align: center;
  margin: 30px 30px 30px 30px;
}

.container {
  padding: 2px 16px;
}

/* .team .card {
  width: 100%;
  max-width: 200px;
} */

.team-image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

.gallery {
  background-color: #E4D1A6;
  padding: 30px;
  border-radius: 10px;
}

footer h2 {
  color: #E4D1A6;
  margin-bottom: 0 !important;
}

.gallery-text {
  margin-bottom: 40px;
}

footer a,
footer p {
  color: #E4D1A6 !important;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 2vh;
}

/* button animations */

.reservation-button .button {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.card {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transition: transform 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.card.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.reservation-text {
  -webkit-animation: text-shadow-pop-bl 5s both;
  animation: text-shadow-pop-bl 5s both;
}

@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}

@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}

footer h2 {
  -webkit-animation: text-shadow-pop-bl 5s both;
  animation: text-shadow-pop-bl 5s both;
}

@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}

@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
  }
}