html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #323639;
  height: 100vh;
  max-width: 1100px;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.font-family {
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #323639;
}

.navbar {
  margin-top: 2vh;
  padding-bottom: 5vh;
  background-color: #323639;
}

.nav-link {
  color: #E4D1A6;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: #E4D1A6;
  border-radius: 10px;
  padding-top: 5vh;
}

.reservation {
  margin-bottom: 7vh;
  border-radius: 10px;
}

.reservation-button {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  text-align: center;
  overflow: hidden;
  width: max-content;
  border-radius: 10px;
}

.button {
  background-color: #323639;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border: 2px solid #323639;
  color: #E4D1A6;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin: 20px auto;
  transition: color 0.4s;
  border-radius: 10px;
}

.about p {
  text-align: justify;
  margin-top: 5vh;
  font-family: 'Inter', sans-serif;
}

#more-button {
  background-color: #323639;
  font-size: 1.5vh;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

section.about {
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

article.services {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

article.services article {
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

/* section.services h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
} */

article.services h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

article.services p {
  font-family: 'Inter', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #323639;
  color: #E4D1A6;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.container {
  padding: 2px 16px;
}

.team .card {
  width: 100%;
  max-width: 200px;
}

/* button animations */

.reservation-button .button {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.card {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transition: transform 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.card.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}